{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Brainstormer | Home</title>

</head>

<body>

  <nav class="headerDiv">
    <div class="gridDiv">
      <div class="logoDiv">
        <a href="#"><img class="logo" src="{% static "testLogo.png" %}" alt=""></a>
      </div>

      <div class="ideaDiv">
        <a class="menuItem" href="#"><h1>Idea</h1></a>
      </div>

      <div class="featuresDiv">
        <a class="menuItem" href="#"><h1>Features</h1></a>
      </div>

      <div class="teamsDiv">
        <a class="menuItem" href="#"><h1>For Teams</h1></a>
      </div>

      <div class="priceDiv">
        <a class="menuItem" href="#"><h1>Price</h1></a>
      </div>

      <div class="loginDiv">
        <button type="button" id="login" name="button">Login</button>
      </div>

      <div class="signupDiv">
        <button type="button" id="signup" name="button">Sign Up</button>
      </div>

    </div>
  </nav>

  <script type="text/javascript">

  </script>

</body>

</html>
